@dark-background: #333333;
@dark-foreground: #dddddd;
@light-background: white;
@light-foreground: #333333;
@smu-blue: #2e2a5b;
@smu-gold: #957749;
@dark-overlay: fadeout(black, 20%);
@light-overlay: fadeout(black, 80%);
@default-margin: 12px;
@double-margin: @default-margin * 2;
@triple-margin: @default-margin * 3;
@default-padding: 12px;
@double-padding: @default-padding * 2;
@triple-padding: @default-padding * 3;
@sidebar-icon-width: 24px;

@selected: {  /* ruleset for active link in the sidebar */
  margin-left: @default-margin;
  padding-left: @default-padding;
  font-weight: bold;
  background-color: #eeeeee;
  color:@smu-gold;

  &:before {
    content: '➜';
    display: inline-block;
    width: @sidebar-icon-width;
  }
};

body {
  color: @dark-foreground;
  background-color: @dark-background;
  font-family: -apple-system, 'Segoe UI', Roboto, sans-serif;
}

#sidebar {
  background-color: @smu-blue;

  .banner {
    padding: @double-margin @double-margin @double-margin @default-margin;
    background-color: @light-background;
  }

  .close {
    float: right;
    cursor: pointer;

    &:hover {
      background-color: #cccccc;
    }
  }

  section {
    &:not([expanded]) .show-less, &[expanded] .show-more {
      display: none;
    }

    .show-more:before {
      content: '▷';
      display: inline-block;
      width: @sidebar-icon-width;
    }

    .show-less:before {
      content: '▽';
      display: inline-block;
      width: @sidebar-icon-width;
    }

    h4 {
      font-weight: bold;
      font-size: 16px;
      padding: 0 0 0 @default-padding;
      border: 0;
      background-color: @smu-gold;
      color: white;
      width: 100%;
      line-height: 40px;
    }

    .item a {
      display: block;
      font-size: 14px;
      padding: @default-padding @double-padding @default-padding @double-padding;
      white-space: nowrap;
      text-decoration: none;
      color: white;

      /* See also: @selected */
    }
  }

  .footer {
    margin: @default-margin 0 0 -@default-margin;

    .icon {
      display: inline-block;
      width: @sidebar-icon-width;
    }
  }
}

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: @light-overlay;
  z-index: 1;

  @media screen {
    @media (max-width: 480px) and (orientation: portrait) {
      position: absolute;
      background-color: transparent;
    }

    @media (max-height: 480px) and (orientation: landscape) {
      position: absolute;
    }
  }

  #hamburger {
    align-self: flex-start;
    padding: @default-padding;
    margin: @default-margin;
    cursor: pointer;

    .logo {
      padding-left: @double-padding;

      @media screen {
        @media (max-width: 480px) and (orientation: portrait) {
          display: none;
        }
      }
    }
  }
}

.carousel {
  height: 600px;

  @media screen {
    @media (max-height: 480px) and (orientation: landscape) {
      height: 380px;
    }
  }

  .slide > amp-img > img {
    object-fit: contain;
  }

  .title {
    position: absolute;
    top: 0;
    right: 0;
    padding: @double-padding @double-padding @default-padding @default-padding;
    color: @dark-foreground;
    z-index: 2;

    @nudge-down: 3;

    @media screen {
      @media (max-width: 480px) and (orientation: portrait) {
        background-color: transparent;
        padding-top: @double-padding + @nudge-down;
      }

      @media (max-height: 480px) and (orientation: landscape) {
        padding-top: @double-padding + @nudge-down;
      }
    }

    h1 {
      margin: 0;
      font-size: 24px;
    }
  }

  .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: @default-padding @triple-padding @default-padding @triple-padding;
    background-color: @light-overlay;
    color: @dark-foreground;

    @media screen {
      @media (max-width: 480px) and (orientation: portrait) {
        padding: @default-padding;
        font-size: 12px;
      }

      @media (max-height: 480px) and (orientation: landscape) {
        padding: @default-padding;
        font-size: 12px;
      }
    }

    strong {
      font-weight: bold;
      color: white;
    }
  }
}
