{{# release }}
  <amp-analytics type="googleanalytics" id="analytics">
    <script type="application/json">
      {
        "vars": {
          "account": "UA-87939057-1"
        },
        "triggers": {
          "trackPageview": {
            "on": "visible",
            "request": "pageview"
          }
        }
      }
    </script>
  </amp-analytics>
{{/ release }}
<amp-install-serviceworker src="service_worker.js" layout="nodisplay"></amp-install-serviceworker>
