<amp-carousel class="carousel" layout="fill" type="slides">
  {{# slides }}
    <div class="slide">
      <amp-img src="{{ image }}" layout="fill"></amp-img>
      {{# title }}
        <div class="title">
          <h1>{{ title }}</h1>
        </div>
      {{/ title }}
      <div class="caption">
        {{{ caption }}}
        <div class="page">
          {{ pager }}
        </div>
      </div>
    </div>
  {{/ slides }}
</amp-carousel>
