<header>
  <a class="button" on='tap:sidebar.toggle'>
    <div id="hamburger">
      <amp-img class="open" srcset="images/hamburger_white.svg" width="24px" height="24px" alt="toggle sidebar"></amp-img>
      <amp-img class="logo" srcset="images/logo_white.svg" width="162px" height="48px" alt="SMU Libraries"></amp-img>
    </div>
  </a>
</header>
