<header>
  <a id="hamburger" class="button" on='tap:sidebar.toggle'>
    <amp-img srcset="./images/ic_menu_white_1x_web_24dp.png 1x,./images/ic_menu_white_2x_web_24dp.png 2x" width="24" height="24" alt="toggle sidebar"></amp-img>
  </a>
  <div id="logo"></div>
</header>
