<!doctype html>
<html ⚡>
  <head>
    {{> templates/partials/head.mustache }}
    <style amp-custom>
      {{> styles/amp-custom.css }}
      {{$ css }}{{/ css }}
    </style>
    <title>{{$ title_text }}SMU Libraries{{/ title_text }}</title>
    {{$ head }}{{/ head }}
  </head>
  <body>
    {{> templates/partials/sidebar.mustache }}
    {{> templates/partials/header.mustache }}
    <amp-image-lightbox id="lightbox" layout="nodisplay"></amp-image-lightbox>
    {{$ body }}{{/ body }}
  </body>
</html>
