<amp-sidebar id="sidebar" layout="nodisplay">
  <div class="topheader">
    <amp-img class="amp-sidebar-close" srcset="./images/ic_chevron_left_black_24dp_1x.png 1x, ./images/ic_chevron_left_black_24dp_2x.png 2x" width="32" height="32" alt="close sidebar" on="tap:sidebar.close" role="button" tabindex="0"></amp-img>
    <a href="/" class="home">SMU Libraries</a>
  </div>
  <amp-accordion>
    <section expanded>
      <h4>
        <div class="show-more category">Li Ka Shing Library</div>
        <div class="show-less category expanded">Li Ka Shing Library</div>
      </h4>
      <div>
        <div class="item">
          <a href="./main_overview.html">Overview</a>
        </div>
        <div class="item">
          <a href="./main_hive.html">Hive</a>
        </div>
        <div class="item">
          <a href="./main_investment_studio.html">Investment Studio</a>
        </div>
        <div class="item">
          <a href="./main_learning_commons.html">Learning Commons</a>
        </div>
        <div class="item">
          <a href="./main_learning_labs.html">Learning Labs</a>
        </div>
        <div class="item">
          <a href="./main_lounge.html">Lounge</a>
        </div>
        <div class="item">
          <a href="./main_postgraduate_lounge_suite.html">Postgraduate Lounge/Suite</a>
        </div>
      </div>
    </section>
    <section expanded>
      <h4>
        <div class="show-more category">Kwa Geok Choo Law Library</div>
        <div class="show-less category expanded">Kwa Geok Choo Law Library</div>
      </h4>
      <div class="item">
        <a href="./kgc_overview.html">Overview</a>
      </div>
    </section>
  </amp-accordion>
</amp-sidebar>
