<amp-sidebar id="sidebar" layout="nodisplay">
  <div class="banner">
    <amp-img class="close" srcset="images/close_left_black.svg" width="32px" height="32px" alt="close sidebar" on="tap:sidebar.close" role="button" tabindex="0"></amp-img>
    <amp-img class="logo" srcset="images/logo_color.svg" width="200px" height="32px" alt="SMU Libraries"></amp-img>
  </div>
  <amp-accordion>
    <section {{# main_expanded }}expanded{{/ main_expanded }}>
      <h4>
        <div class="show-more category">Li Ka Shing Library</div>
        <div class="show-less category expanded">Li Ka Shing Library</div>
      </h4>
      <div>
        {{# main_links }}
          <div class="item">
            <a class="{{ class }}" href="{{ href }}">{{ text }}</a>
          </div>
        {{/ main_links }}
      </div>
    </section>
    <section {{# kgc_expanded }}expanded{{/ kgc_expanded }}>
      <h4>
        <div class="show-more category">Kwa Geok Choo Law Library</div>
        <div class="show-less category expanded">Kwa Geok Choo Law Library</div>
      </h4>
      <div>
        {{# kgc_links }}
          <div class="item">
            <a class="{{ class }}" href="{{ href }}">{{ text }}</a>
          </div>
        {{/ kgc_links }}
      </div>
    </section>
  </amp-accordion>
  <section class="footer">
    <div class="item">
      <a href="mailto:library.smu.edu.sg"><span class="icon">✎</span>Send feedback</a>
    </div>
    <div class="item">
      <a href="index.html"><span class="icon">ⓘ</span>About SMU Libraries</a>
    </div>
  </section>
</amp-sidebar>
