{{< templates/partials/layout.mustache }}
  {{$ title_text }}
    SMU Libraries :: Spaces :: About Spaces
  {{/ title_text }}
  {{$ css }}
    {{> styles/about.css }}
  {{/ css }}
  {{$ head }}
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    {{> templates/partials/schema_smu_libraries.mustache }}
  {{/ head }}
  {{$ body }}
    <amp-carousel class="carousel" layout="fill" type="slides">
      <div class="slide">
        <div class="about">
          <div class="about-horizontal">
            <amp-img src="{{ app_icon }}" width="48px" height="48px"></amp-img>
            <div class="heading">{{ app_title }}</div>
          </div>
          <div class="content">{{{ app_about }}}</div>
          <div class="content">
            Love our app?<p>
            <form id="feedback" method="POST" action-xhr="{{ feedback_service_url }}" target="_top">
              <input type="hidden" id="app_id" name="app_id" value="{{ feedback_app_id }}">
              <input type="radio" id="1" name="rating" value="1" on="change:feedback.submit">
              <label for="1">
                <amp-img src="images/feedback_1.svg" width="32px" height="32px"></amp-img>
              </label>
              <input type="radio" id="2" name="rating" value="2" on="change:feedback.submit">
              <label for="2">
                <amp-img src="images/feedback_2.svg" width="32px" height="32px"></amp-img>
              </label>
              <input type="radio" id="3" name="rating" value="3" on="change:feedback.submit">
              <label for="3">
                <amp-img src="images/feedback_3.svg" width="32px" height="32px"></amp-img>
              </label>
              <input type="radio" id="4" name="rating" value="4" on="change:feedback.submit">
              <label for="4">
                <amp-img src="images/feedback_4.svg" width="32px" height="32px"></amp-img>
              </label>
              <input type="radio" id="5" name="rating" value="5" on="change:feedback.submit">
              <label for="5">
                <amp-img src="images/feedback_5.svg" width="32px" height="32px"></amp-img>
              </label>
              <div class="feedback-response" submit-success>{{{ feedback_success_message }}}</div>
              <div class="feedback-response" submit-error>{{{ feedback_error_message }}}</div>
            </form>
          </div>
          <div class="content">
            Connect with us on<p>
            <div class="social-media">
              {{# show_facebook }}
                <a href="{{ facebook_url }}" target="_blank">
                  <amp-img src="{{ facebook_icon }}" width="32px" height="32px"></amp-img>
                </a>
              {{/ show_facebook }}
              {{# show_twitter }}
                <a href="{{ twitter_url }}" target="_blank">
                  <amp-img src="{{ twitter_icon }}" width="32px" height="32px"></amp-img>
                </a>
              {{/ show_twitter }}
              {{# show_instagram }}
                <a href="{{ instagram_url }}" target="_blank">
                  <amp-img src="{{ instagram_icon }}" width="32px" height="32px"></amp-img>
                </a>
              {{/ show_instagram }}
              <a href="{{ feedback_email_address }}">
                <amp-img src="images/feedback_email.svg" width="32px" height="32px"></amp-img>
              </a>
            </div>
          </div>
        </div>
        <div class="caption">
          <div class="page">
            ●○
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="about">
          <div class="heading">The Team</div>
          <div class="content">
            <ul>
              {{# team_members }}
                <li>{{ . }}</li>
              {{/ team_members }}
            </ul>
          </div>
          {{# license }}
            <div class="content">{{{ license }}}</div>
          {{/ license }}
        </div>
        <div class="caption">
          <div class="page">
            ○●
          </div>
        </div>
      </div>
    </amp-carousel>
  {{/ body }}
{{/ templates/partials/layout.mustache }}
