{{< templates/partials/layout.mustache }}
  {{$ title_text }}
    SMU Libraries :: Spaces :: About Spaces
  {{/ title_text }}
  {{$ css }}
    {{> styles/about.css }}
  {{/ css }}
  {{$ head }}
    {{> templates/partials/schema_smu_libraries.mustache }}
  {{/ head }}
  {{$ body }}
    <amp-carousel class="carousel" layout="fill" type="slides">
      <div class="slide">
        <div class="about">
          <amp-img class="icon" src="{{ app_icon }}" width="64px" height="64px"></amp-img>
          <div class="heading">{{ app_title }}</div>
          <div class="content">{{{ app_about }}}</div>
          <div class="content">
            Love our app?<p>
            <form id="feedback" method="POST" action-xhr="{{ feedback_service_url }}" target="_top">
              <input type="hidden" id="app_id" name="app_id" value="{{ feedback_app_id }}">
              <input type="radio" id="sick" name="rating" value="sick" on="change:feedback.submit">
              <label for="sick">
                <amp-img src="images/feedback_sick.svg" width="32px" height="32px"></amp-img>
              </label>
              <input type="radio" id="sad" name="rating" value="sad" on="change:feedback.submit">
              <label for="sad">
                <amp-img src="images/feedback_sad.svg" width="32px" height="32px"></amp-img>
              </label>
              <input type="radio" id="plain" name="rating" value="plain" on="change:feedback.submit">
              <label for="plain">
                <amp-img src="images/feedback_plain.svg" width="32px" height="32px"></amp-img>
              </label>
              <input type="radio" id="smile" name="rating" value="smile" on="change:feedback.submit">
              <label for="smile">
                <amp-img src="images/feedback_smile.svg" width="32px" height="32px"></amp-img>
              </label>
              <input type="radio" id="in_love" name="rating" value="in_love" on="change:feedback.submit">
              <label for="in_love">
                <amp-img src="images/feedback_in_love.svg" width="32px" height="32px"></amp-img>
              </label>
              <div class="feedback-response" submit-success>{{{ feedback_success_message }}}</div>
              <div class="feedback-response" submit-error>{{{ feedback_error_message }}}</div>
            </form>
          </div>
          <div class="content">
            Connect with us on<p>
            <div class="social-media">
              {{# show_facebook }}
                <a href="{{ facebook_url }}" target="_blank">
                  <amp-img src="{{ facebook_icon }}" width="32px" height="32px"></amp-img>
                </a>
              {{/ show_facebook }}
              {{# show_twitter }}
                <a href="{{ twitter_url }}" target="_blank">
                  <amp-img src="{{ twitter_icon }}" width="32px" height="32px"></amp-img>
                </a>
              {{/ show_twitter }}
              {{# show_instagram }}
                <a href="{{ instagram_url }}" target="_blank">
                  <amp-img src="{{ instagram_icon }}" width="32px" height="32px"></amp-img>
                </a>
              {{/ show_instagram }}
            </div>
          </div>
        </div>
        <div class="caption">
          <div class="page">
            ●○
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="about">
          <div class="heading">The Team</div>
          <div class="content">
            <ul>
              {{# team_members }}
                <li>{{ . }}</li>
              {{/ team_members }}
            </ul>
          </div>
          {{# license }}
            <div class="content">{{{ license }}}</div>
          {{/ license }}
        </div>
        <div class="caption">
          <div class="page">
            ○●
          </div>
        </div>
      </div>
    </amp-carousel>
  {{/ body }}
{{/ templates/partials/layout.mustache }}
