{{< templates/partials/layout.mustache }}
  {{$ title_text }}SMU Libraries{{/ title_text }}
  {{$ head }}
    {{> templates/partials/schema_smu_libraries.mustache }}
  {{/ head }}
  {{$ body }}
    <h1>SMU Libraries</h1>
  {{/ body }}
{{/ templates/partials/layout.mustache }}
