{{< templates/partials/layout.mustache }}
  {{$ title_text }}SMU Libraries{{/ title_text }}
  {{$ css }}
    {{> styles/index.css }}
  {{/ css }}
  {{$ head }}
    {{> templates/partials/schema_smu_libraries.mustache }}
  {{/ head }}
  {{$ body }}
    <section id="welcome">
      <a class="left_panel" href="main_overview.html">
        <h1>Li Ka Shing<br>Library</h1>
      </a>
      <a class="right_panel" href="kgc_overview.html">
        <h1>Kwa Geok Choo<br>Law Library</h1>
      </a>
    </section>
  {{/ body }}
{{/ templates/partials/layout.mustache }}
