{{< templates/partials/layout.mustache }}
  {{$ title_text }}Overview - Kwa Geok Choo Law Library{{/ title_text }}
  {{$ head }}
    {{> templates/partials/schema_kgc.mustache }}
  {{/ head }}
  {{$ body }}
    <h1>Overview - Kwa Geok Choo Law Library</h1>
  {{/ body }}
{{/ templates/partials/layout.mustache }}
