{{< templates/partials/layout.mustache }}
  {{$ title_text }}Atrium - Kwa Geok Choo Law Library{{/ title_text }}
  {{$ css }}
    {{> styles/kgc_atrium.css }}
  {{/ css }}
  {{$ head }}
    {{> templates/partials/schema_kgc.mustache }}
  {{/ head }}
  {{$ body }}
    <h1>Atrium - Kwa Geok Choo Law Library</h1>
  {{/ body }}
{{/ templates/partials/layout.mustache }}
