{{< templates/partials/layout.mustache }}
  {{$ title_text }}
    SMU Libraries :: Kwa Geok Choo Law Library :: Terrace
  {{/ title_text }}
  {{$ css }}
    {{> styles/kgc_terrace.css }}
  {{/ css }}
  {{$ head }}
    {{> templates/partials/schema_kgc.mustache }}
  {{/ head }}
  {{$ body }}
    {{> templates/partials/carousel.mustache }}
  {{/ body }}
{{/ templates/partials/layout.mustache }}
