{{< templates/partials/layout.mustache }}
  {{$ title_text }}
    SMU Libraries :: Spaces :: Kwa Geok Choo Law Library :: Project Rooms
  {{/ title_text }}
  {{$ css }}
    {{> styles/kgc_project_rooms.css }}
  {{/ css }}
  {{$ head }}
    {{> templates/partials/schema_kgc.mustache }}
  {{/ head }}
  {{$ body }}
    {{> templates/partials/carousel.mustache }}
  {{/ body }}
{{/ templates/partials/layout.mustache }}
