{{< templates/partials/layout.mustache }}
  {{$ title_text }}Overview - Li Ka Shing Library{{/ title_text }}
  {{$ css }}
    {{> styles/main_overview.css }}
  {{/ css }}
  {{$ head }}
    {{> templates/partials/schema_main.mustache }}
  {{/ head }}
  {{$ body }}
    <amp-carousel class="carousel" width="1" height="1" layout="responsive" type="slides">
      {{# slides }}
        <div class="slide">
          <amp-img src="{{ src }}" layout="fill" alt="{{ alt }}"></amp-img>
          {{# title }}
            <div class="title">
              <h1>{{ title }}</h1>
            </div>
          {{/ title }}
          {{# caption }}
            <div class="caption">
              {{{ caption }}}
            </div>
          {{/ caption }}
        </div>
      {{/ slides }}
    </amp-carousel>
  {{/ body }}
{{/ templates/partials/layout.mustache }}
