{{< templates/partials/layout.mustache }}
  {{$ title_text }}Hive - Li Ka Shing Library{{/ title_text }}
  {{$ css }}
    {{> styles/main_hive.css }}
  {{/ css }}
  {{$ head }}
    {{> templates/partials/schema_main.mustache }}
  {{/ head }}
  {{$ body }}
    <h1>Hive - Li Ka Shing Library</h1>
  {{/ body }}
{{/ templates/partials/layout.mustache }}
