{{< templates/partials/layout.mustache }}
  {{$ title_text }}Overview - Li Ka Shing Library{{/ title_text }}
  {{$ head }}
    {{> templates/partials/schema_main.mustache }}
  {{/ head }}
  {{$ body }}
    <!-- Todo: Figure out the weird aspect ratio -->
    <amp-carousel class="carousel" width="16" height="9.21" layout="responsive" type="slides">
      <div class="slide">
        <amp-img src="./images/test_red.jpg" layout="fill" alt="red test image" on="tap:lightbox" role="button"></amp-img>
        <div class="title">
          <h1>Li Ka Shing Library</h1>
        </div>
        <div class="caption">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
      <div class="slide">
        <amp-img src="./images/test_green.jpg" layout="fill" alt="green test image" on="tap:lightbox" role="button"></amp-img>
        <div class="caption">
          The quick brown fox jumps over the lazy dog.
        </div>
      </div>
      <amp-img src="./images/test_blue.jpg" layout="fill" alt="blue test image" on="tap:lightbox" role="button"></amp-img>
    </amp-carousel>
  {{/ body }}
{{/ templates/partials/layout.mustache }}
