{{< templates/partials/layout.mustache }}
  {{$ title_text }}Postgraduate Lounge/Suite - Li Ka Shing Library{{/ title_text }}
  {{$ head }}
    {{> templates/partials/schema_main.mustache }}
  {{/ head }}
  {{$ body }}
    <h1>Postgraduate Lounge/Suite - Li Ka Shing Library</h1>
  {{/ body }}
{{/ templates/partials/layout.mustache }}
