{{< templates/partials/layout.mustache }}
  {{$ title_text }}
    SMU Libraries :: Li Ka Shing Library :: Postgraduate Lounge/Suite
  {{/ title_text }}
  {{$ css }}
    {{> styles/main_postgraduate_lounge_suite.css }}
  {{/ css }}
  {{$ head }}
    {{> templates/partials/schema_main.mustache }}
  {{/ head }}
  {{$ body }}
    {{> templates/partials/carousel.mustache }}
  {{/ body }}
{{/ templates/partials/layout.mustache }}
